@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {

  box-sizing: border-box;
  font-family: "Poppins";
  list-style-type: none;
}

body {
  overflow-x: hidden;
  margin: 0px auto;
  background-color: var(--background-color);
}

.wrapper {
  width: 1300px;
  margin: 0px auto;
}