* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
  font-family: var(--font-montserrat);
  list-style-type: none;
}

body {
  overflow-x: hidden;
  margin: 0px auto;
  background-color: var(--background-color);
}

.wrapper {
  width: 1300px;
  margin: 0px auto;
}

